@charset "UTF-8";


/* 리스트 css */

.container-fluid-table {
  margin-top: 80px;
  margin-left: 30px;
  margin-bottom: 10px;
}

/* 이동 타켓 */
.card-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  /* 노란색으로 표신되는 것이 주요 포인트 */
  background-color: grid;
}

/* 마우스 포인터을 손가락으로 변경 */
.card:not (.no-move) .card-header {
  cursor: pointer;
}

.card {
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  left: 0px;
}

.card-title {
  font-size: 12px;
  align-items: center;
}

.title {
  width: 120px;
  float: left;
  margin-top: 5px;
}

.deleteBox {
  width: 15px;
  float: left;
  margin-left: 0px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

[class*="createBox"] {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

[class*="table-box"] {
  position: relative;
  border: 1px solid #cecece;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 150px;
  float: left;
}

[id*="box_title_"] {
  background-color: #0dcaf0;
}

.card {
  margin-bottom: 5px;
}

.date {
  width: 150px;
  border: 1px solid #cecece;
}


.date_container {
  margin-left: 10px;
}

.memo_padding {
  position: absolute;
  width: 1050px;
  height: 500px;
  clear: left;
  padding-left: 6%;
}

.memo_write {
  position: absolute;
  width: 1050px;
  height: 680px;
  clear: left;
}

#card_size {
	width: 65.5rem;
}

#memo_content {
	width: 62rem;
}

#review_content {
	width: 62rem;
}


.container_1 {
  clear: left;
  width: 1050px;
  height: 20px;
  margin-left: 30px;
}

/* 광고 */
.advertisement {
  clear: left;
  width: 1600px;
  height: 100px;
  margin-left: 140px;
  margin-top: 700px;
  margin-bottom: 30px;
  
  border: 1px solid black; /* 검은색 테두리 추가 */
  box-sizing: border-box; /* 테두리가 이미지 크기에 포함되도록 box-sizing 속성 추가 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertisement a {
    display: block;
    width: 550px;
    height: 100%;
}

.advertisement img {
    width: 100%;
    height: 100%;
}

#travel_table_container {
  border: 5px solid #96B6C5;
  width: 1060px;
  margin-top: -15px;
  white-space: normal;
  margin-left: 4%;
}



/* 지도 sticky 범위 설정 가능 */
#map_div_container {
  width: 550px;
  height: 1530px;
  margin-top: -850px;
  float: right;
  margin-right: 9%;
}

/* 일정표의 일정 div */
#travel_table {
  height: 620px;
}


/* 메모장 */
#memo_title {
  float: left;
}

[id^=memo_text] {
  margin-left: 10px;
  border: none;
  outline: none;
}


[id^=box_title] {
background-color: #0dcaf0;
}

#0dcaf0

#memo_date {
  float: left;
}

#date_time_picker {
  float: left;
  margin-left: 10px;
}

#datepicker {
  margin-left: 10px;
  border: none;
  outline: none;
}

#memo_time {
  float: left;
  margin-left: 10px;
}

#memo_time_text {
  float: left;
}

#memo_place_text {
  float: left;
}

#memo_place {
  float: left;
  margin-left: 10px;
  width: 600px;
  border: none;
  outline: none;
}

#memo_place_lat {
  float: left;
  width: 150px;
}

#memo_place_lng {
  float: left;
  width: 150px;
}

#logout {
	border: none;
	outline: none;
	background-color: white;
	color : black;
	margin-top : 200px;
	float: left;
}

#Favorites {
  border: none;
  outline: none;
  background-color: white;
  float: left;
}

#Favorites_delete {
	border: none;
	outline: none;
	background-color: white;
	margin-top: 8px;
	float: right;
}

#History {
  border: none;
  outline: none;
  background-color: white;
  float: left;
}

#History_delete {
  border: none;
  outline: none;
  background-color: white;
  margin-top: 8px;
  float: right;
}

#Journal {
  border: none;
  outline: none;
  background-color: white;
  float: left;
}

#Journal_cancel {
  border: none;
  outline: none;
  background-color: white;
  margin-top: 8px;
  float: right;
}

#Journal_Check {
  margin-top: 8px;
  float: right;
}

#Journal_btn {
  float: right;
  bottom: 0px;
}

/* .offcanvas-end div:hover{
	background-color: #dfeaff;
} */



.input-group-addon,
.input-group-text {
  border-left: 0 none;
  padding: 4px 9px 4px 9px;
}

.input-group-addon .glyphicon-calendar:before,
.input-group-text .datePicker-calendar:before {
  content: " ";
  background: url(/assets/images/buttons/btn_calendar.png) center center no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  overflow: hidden;
}


._map_layer_btn {
  margin-left: 30px;
  margin-bottom: 5px;
}

._map_layer_btn_group {
  width: 550px;
  height: 815px;
  top: 75px;
  float: left;
  position: sticky;
}


/* 여행 날짜 = 일정 날짜 범위 선택 */
#form_floating_div {
  width: 420px;
  margin-top: 2px;
  margin-left: 4%;
}

#datepicker_start {
  width: 120px;
}

#datepicker_end {
  width: 120px;
}

#btnShowDates {
  margin-top: 10px;
  width: 75px;
}

/* 일정표 저장 버튼 */
#travel_save {
  margin-top: -50px;
  margin-bottom: 5px;
  width: 75px;
  margin-left: 495px;
  float: left;
  font-size: 15px;
  height: 50px;
}

/* 일정표 제목 */
#travel_title {
  width: 300px;
  height: 50px;
  margin-top: 13px;
  margin-left: 180px;
  float: left;
}

#location_uuid {
  float: left;
  width: 100px;
  margin-top: 10px;
  margin-left: 90px;
}

#title_container {
  width: 570px;
  margin-left: 30%;
  height: 70px;
  margin-top: -10px;
}

#modal {
  display: none;
}

.button-container {
	text-align: right;
}

.button-container button {
	margin: 0px; /* 버튼 사이의 간격 조절 */
	margin-top: 10px;
	margin-right: 20px;
}

.place_add,
#place_add_ped,
#place_add_car {
	margin-top: 10px;
	margin-right: 20px;
}

#place_add_ped,
#place_add_car {
	margin-left: 10px; /* 즐겨찾기 버튼과의 간격 조절 */
}