@charset "UTF-8";

/* 보행자  */
#map_div_ped {
  margin-left: 30px;
  float: left;
  border: 1px solid black;
}

._map_layer_overlay {
  margin-left: 130px;
  width: 500px;
  position: absolute;
  z-index: 1;
}

._map_overlay_row {
  width: 500px;
  float: left;
}

.scroll_box_pedestrian {
  width: 500px;
  height: 150px;
  overflow: auto;
  position: absolute;
  margin-left: -131px;
  z-index: 1;
  background-color: white;
  top: 590px;
  border: 1px solid black;
}

.scroll_box_pedestrian::-webkit-scrollbar {
  width: 10px;
}

.scroll_box_pedestrian::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}

.scroll_box_pedestrian::-webkit-scrollbar-track {
  background-color: grey;
}

#searchStartAddress_ped {
  width: 300px;
  margin-top: 14px;
  margin-left: -120px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;

}

#searchEndAddress_ped {
  width: 300px;
  margin-top: 53px;
  margin-left: -120px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;

}

#_btn_action_ped {
  margin-top: 48px;
  margin-left: 250px;
}

/* 지도 상단의 도착 버튼 */
._search_address_btn_ped {
  width: 50px;
  margin-top: 14px;
  margin-left: 185px;
  position: absolute;
  z-index: 1;
}

._btn_action_ped {
  margin-top: 53px;
  margin-left: 243px;
}

/* 장소 상세 정보 */
._tmap_preview_popup_text {
	border : solid 1px black;
	background-color : white;
	padding: 10px 10px 10px 10px;
	width: 120px;
	height: auto;
}

/* 장소 상세 정보 [장소명] */
._tmap_preview_popup_title {
	font-weight: bold;
}

/* 장소 상세 정보 [상세 정보 버튼 컨테이너] */
._search_item_button_panel {
	margin-bottom : 10px;
}

/* 장소 상세 정보 [상세 정보 버튼] */
.__color_blue {
	width: 100px;
	color: blue;
	border: solid 1px blue;
}

._route_item_type {
	width: auto;
	color: black;
	border: none;
}

._search_entry {
	margin-top: 5px;
}

/* 경유지 삭제 버튼 */
#stopover_btn {
	width: 235px;
}

/* 경유 검색 */
._search_address_btn_ped {
	margin-left: 5px;
	width: 80px;
}